<%= form_with(model: [@mosque, @salah_timing], local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name, t("hello"), class: "form-label fw-bold fst-italic" %>
    <%= form.text_field :name, class: "form-control" %> 
  </div>
  
  <br>

  <div class="mb-3">
    <%= form.label :timing, "Timing", class: "form-label fw-bold fst-italic" %>
    <%= form.time_field :timing, class: "form-control" %>
  </div>
  
  <br>

  <%= form.submit nil,class: "btn btn-primary fw-bold fst-italic" %>
  
<% end %>
