<h1><%= @type.humanize %> Masjids</h1>
<table class="table table-light table-bordered" >
  <thead>
    <tr>
      <th>Sr.no</th>
      <th>Name</th>
      <th>Address</th> 
      <th colspan="2">Manage</th>
    </tr>
  </thead>
  <tbody>
    <%@mosques.each_with_index do |mosque, index|%>
      <tr>
        <td><%=index+1%></td>
        <td><%= link_to mosque.name, mosque_path(mosque) %></td>
        <td><%=mosque.address%></td>
        <%if mosque.approved? %>
          <td colspan="2"><%= link_to "Deactivate", ""  %></td>
        <%elsif mosque.pending? %>
          <td><%= link_to "Approve", ""  %></td>
          <td><%= link_to "Reject", "" %> </td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>
