<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-2">Namaz Time</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end d-flex">
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home &emsp;</a> 
            <a class="nav-link fw-bold py-1 px-0" href="#">Contact &emsp;</a>
            <% if user_signed_in? %>
                <%= link_to "Mosques", mosques_path, class: "nav-link fw-bold py-1 px-0" %>
                <%= link_to current_user.full_name, edit_user_registration_path, class: "nav-link fw-bold py-1 px-0" %>
                <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-link fw-bold py-1 px-0" %>
            <% else %>
                <%= link_to "Log in", new_user_session_path, class: "nav-link fw-bold py-1 px-0" %>
                <%= link_to "Register", new_user_registration_path, class: "nav-link fw-bold py-1 px-0" %>
            <% end %>
        </nav>
    </div>
</header>
