<% if @mosque.new_record? %>
  <h1>Add new masjid</h1>
<% else %>
  <h1>Edit masjid</h1>
<% end %><br>

<%= form_with(model: @mosque, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Name of MASJID", class: "form-label fw-bold fst-italic" %>
    <%= form.text_field :name, class: "form-control" %> 
  </div>
  
  <br>

  <div class="mb-3">
    <%= form.label :address, "Address", class: "form-label fw-bold fst-italic" %>
    <%= form.text_area :address, class: "form-control" %>
  </div>
  
  <br>
    
  <div class="mb-3">
    <%= form.label :area, "Area", class: "form-label fw-bold fst-italic" %>
    <%= form.select :area_id, options_for_select(Area.all.map {|a| [a.area_name, a.id]}), {prompt: "Select Area"},class:"form-select" %>
 </div>
 
 <br>

  <div class="field">
    <%= form.label :google_link, "Google link", class: "form-label fw-bold fst-italic" %>
    <%= form.text_area :google_link, class: "form-control" %>
  </div>
  
  <br>


  <div class="mb-3">
    <h2>Salah Timings</h2>
    <%= form.fields_for :salah_timings do |t| %>
      <div class="row">
        <div class="col-md-6">
          <%= t.label :name, "Salah Name", class: "form-label fw-bold fst-italic" %>
          <%= t.text_field :name, class: "form-control", placeholder: "e.g., Fajr" %>
        </div>
        <div class="col-md-6">
          <%= t.label :timing, "Timing", class: "form-label fw-bold fst-italic" %>
          <%= t.time_field :timing, class: "form-control" %>
        </div>
      </div>
      <%= t.hidden_field :id %>
      <br>
    <% end %>
  </div>

  <%= form.submit nil,class: "btn btn-primary fw-bold fst-italic" %>

<% end %>
