<h1> Here you can edit your Mosque's details. </h1>

<%= form_with(model: @mosque, local: true) do |form| %>

    <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    </div>
    <br><br>

    <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %><br>
    </div><br><br>

    <div>
    <%= form.label :google_link %> <br>
    <%= form.text_field :google_link %> <br>
    </div><br><br>

    <div>
    <%= form.submit %>
    </div>

<% end %>

